.TodoTemplate {
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
}

.app-title {
  background: #ebdbb5;
  color: white;
  height: 4rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center; //세로 가운데 정렬
  justify-content: center; //가로 가운데 정렬
}

.content {
  background: white;
}
